.specialities{
    margin-top: 10px;
    gap: 20px;
    .card-specialty{
        width: rem(300px);
        padding: rem(10px);
        gap: 8px;
        text-align: center;
        @include for-mini-layout {
            width: 80%;
          }
        img{
            border: 3px solid $clr1;
            width: 50%;
            padding: rem(20px);
        }
        p{
            font-size: .9rem;
            font-weight: 200;
        }

    }
}